@CHARSET "ISO-8859-1";

.btn-log-in{
	margin-top:10px;
	margin-left:5px;
}
/* Selectable basic */
#selectable .ui-selecting { 
	background: white;
}
#selectable .ui-selected { 
		background: white;
		
}
#selectable { 
	list-style-type: none;
	 margin: 0;
	 padding: 0;
	 width: 100%; 
	}
#selectable li {    
	margin: 3px;
    padding: 5px;
    font-size: 18px;
    height: auto;
    
}
#selectable .ui-selected:hover {    
	margin: 3px;
    padding: 5px;
    font-size: 18px;
    height: auto;
    background: white;
    
}
#selectable .ui-widget-content:hover {    
	margin: 3px;
    padding: 5px;
    font-size: 18px;
    height: auto;
    background:#F8F8FF;
 }
/* Selectable 1 */
#selectable1 .ui-selecting { 
	background: white;
}
#selectable1 .ui-selected { 
		background: white;
		
}
#selectable1 { 
	list-style-type: none;
	 margin: 0;
	 padding: 0;
	 width: 100%; 
	}
#selectable1 li {    
	margin: 3px;
    padding: 5px;
    font-size: 15px;
    height: auto;
    
}
#selectable1 .ui-selected:hover {    
	margin: 3px;
    padding: 5px;
    font-size: 15px;
    height: auto;
    background: white;
    
}
#selectable1 .ui-widget-content:hover {    
	margin: 3px;
    padding: 5px;
    font-size: 15px;
    height: auto;
    background:#F8F8FF;
 }
 
 /* Selectable 2 */
 
 #selectable2 .ui-selecting { 
	background: white;
}
#selectable2 .ui-selected { 
		background: white;
		
}
#selectable2 { 
	list-style-type: none;
	 margin: 0;
	 padding: 0;
	 width: 100%; 
	}
#selectable2 li {    
	margin: 3px;
    padding: 5px;
    font-size: 15px;
    height: auto;
    
}
#selectable2 .ui-selected:hover {    
	margin: 3px;
    padding: 5px;
    font-size: 15px;
    height: auto;
    background: white;
    
}
#selectable2 .ui-widget-content:hover {    
	margin: 3px;
    padding: 5px;
    font-size: 15px;
    height: auto;
    background:#F8F8FF;
 }
 
  /* Selectable 3 */
 
 #selectable3 .ui-selecting { 
	background: white;
}
#selectable3 .ui-selected { 
		background: white;
		
}
#selectable3 { 
	list-style-type: none;
	 margin: 0;
	 padding: 0;
	 width: 100%; 
	}
#selectable3 li {    
	margin: 3px;
    padding: 5px;
    font-size: 15px;
    height: auto;
    
}
#selectable3 .ui-selected:hover {    
	margin: 3px;
    padding: 5px;
    font-size: 15px;
    height: auto;
    background: white;
    
}
#selectable3 .ui-widget-content:hover {    
	margin: 3px;
    padding: 5px;
    font-size: 15px;
    height: auto;
    background:#F8F8FF;
 }
.cursor-class{
	cursor:pointer;
}
.border-radius-span{
	border-radius:4px 0px 0px 4px;
}
.border-radius-input{
	border-radius:0px 4px 4px 0px;
	
}

#accordion, #accordion1{
	font-size:18px;
}
.footer{
	position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
  
}
.paragraph-footer{
	margin:0px;
	margin-top:22px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#main{
	margin-bottom:70px;
}
#map{
	height:250px;
	width:100%;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 80%;
      margin: auto;
}
.overlay { 
 
  position:absolute;
  z-index:12;
  top:15%;
  left:0;
  width:100%;
  text-align:center;
  
}