<div class="container">
	
	
	<div class="row">
		<div class="col-md-12">
			<h2>Contact page</h2>
			
		</div>
	</div>
	<br>
	<div class="row">	
		<div class="col-md-12">
			<div class="panel panel-default" >
				<div class="panel-heading">
					<div class="panel-title">
						<i class="fa fa-map-marker" aria-hidden="true"></i> Location 
					</div>
				</div>
				<div class="panel-body">
					<div id="map"></div>
				</div>
				
			</div>
			
		</div>
	</div>
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default" >
					<div class="panel-heading">
						<div class="panel-title">
							<i class="fa fa-street-view" aria-hidden="true"></i> Address 
						</div>
					</div>
					<div class="panel-body">
					<address>
						Faculty of Computer Science and Engineering <br>
						"Rugjer Boshkovikj" 16 <br>
						P.O. Box 393 <br>
						1000 Skopje, Republic of Macedonia <br>
					
					</address>	
					</div>
					
				</div>
			
			</div>
			<div class="col-md-3">
				<div class="panel panel-default" >
					<div class="panel-heading">
						<div class="panel-title">
							<i class="fa fa-phone" aria-hidden="true"></i> Phones 
						</div>
					</div>
					<div class="panel-body">
					<address>
						<a href="tel:0038923070377">+389 2/ 3070-377</a>, Dean's office <br>
						<a href="tel:0038923088292">+389 2/ 3088-292</a>, Student office  <br>
						<a href="tel:0038923088222">+389 2/ 3088-222</a>, Fax number <br>
						<br>
						<br>
						<br>
					</address>	
					</div>
					
				</div>
			
			</div>
			<div class="col-md-3">
				<div class="panel panel-default" >
					<div class="panel-heading">
						<div class="panel-title">
							<i class="fa fa-envelope-o" aria-hidden="true"></i> Email 
						</div>
					</div>
					<div class="panel-body">
						<a href= "mailto:contact@finki.ukim.mk">contact@finki.ukim.mk</a>
						<br> <br> <br> <br> <br> <br> <br>
					</div>
					
				</div>
			
			</div>
			<div class="col-md-3">
				<div class="panel panel-default" >
					<div class="panel-heading">
						<div class="panel-title">
							<i class="fa fa-hourglass-end" aria-hidden="true"></i> Working hours 
						</div>
					</div>
					<div class="panel-body">
						<br>
						<br>
						
						<div class="text-center">
							 <strong> Mon - Fri   </strong>
						</div> 
					 	<div class="text-center">
					 		<strong> 09:00 AM - 12:00 PM </strong>
						 </div>	
						
						<br>
						<br>
						<br>
					</div>
					
				</div>
			
			</div>
		</div>
		
	</div>
</div>