<div class="container">
	
	
	<div  class="row">
	
		<div class="col-md-12 col-sm-12">
			<h2>Courses page</h2>
			
			<div class="col-md-offset-8 col-md-4">
				<div class="input-group">
					<span  class="border-radius-span input-group-addon" id="filter-addon" >Filter</span>
					<input class="border-radius-input form-control" placeholder="Type to filter" id="courseFilter" aria-describedby="filter-addon" ng-model="courseFilter" type="text">
				</div>
				
			</div>
			
				<ul class="nav nav-tabs">
				  <li class="active"><a data-toggle="tab" data-target="#all">All</a></li>
				  <li ><a data-toggle="tab" data-target="#buttons">Add course</a></li>
				</ul>
			
			
			<div class="tab-content">
			
				<!-- TAB ALL -->
				<div id="all"  class="tab-pane fade in active">
					<ul ng-show="showAll" id="selectable" >
							<li class="text-center">
								<div class="row">
									<span ng-click="orderByMeCourse('courseName')" class="cursor-class col-md-2">Name</span> 
									<span ng-click="orderByMeCourse('language')"  class="cursor-class col-md-2">Language</span>
									<span ng-click="orderByMeCourse('professor')" class="cursor-class col-md-2">Professor </span>
									
								</div>
						 	
						 	</li>
							<li id="{{course.courseId}}"  class="text-center ui-widget-content" ng-repeat="course in allCourses | filter:courseFilter | orderBy:courseOrderBy">
								<div class="row">
									<span class="col-md-2">{{course.courseName}}</span> 
									<span class="col-md-2">{{course.language}}</span>
									<span class="col-md-2">{{course.professor}} </span>
									<span class="col-md-2"></span>
									<span class="col-md-2"><button ng-click="deleteCourse(course.courseId); " class=" btn btn-danger btn-sm">Delete</button></span>
									<span class="col-md-2 "><button ng-click="courseDetails(course.courseId);" class=" btn btn-info btn-sm">Details</button></span>
								</div>
							 	
							 </li>
					</ul>
					
					<div ng-show="showOne" class="row">
						
						
						<div class="col-md-12">
							<button ng-click="backFunction()" class="btn btn-default"><i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp; Back</button>
						</div>
						<!--  col-md-6 LEFT -->
						<div class="col-md-6">
						
							<!-- Panel COURSE INFO -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4>Course info</h4>
								</div>
								
								<div class="panel-body">
									<form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-4" for="name" >Name: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="name" ng-model="name">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="classes" >Fund of classes: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="classes" ng-model="classes">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="language" >Language: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="language" ng-model="language">
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-sm-4" for="professor" >Professor: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="professor" ng-model="professor">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="program_content" >Content of program: </label>
											<div class="col-sm-8">
												<textarea class="form-control" id="program_content" ng-model="program_content"></textarea>
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-sm-4" for="program_goal" >Goal of program: </label>
											<div class="col-sm-8">
												<textarea class="form-control" id="program_goal" ng-model="program_goal"></textarea>
											</div>
										</div>
										
										
									</form>
								
								</div>
							</div>
							<div class="col-md-8">
									<span>{{updateMessageData}}</span>
							</div>
							<div class="col-md-4">
								<button ng-click="updateCourse();" class="pull-right btn btn-primary">Save changes</button>
							</div>	
						</div>
					
					</div>
				</div> <!-- End of ALL STUDENTS tab -->
				
				
				<!-- Add course tab -->
				<div id="buttons" class="tab-pane fade">
				
				<div class="row">
					<!--  col-md-6 LEFT -->
						<div class="col-md-6">
						
							<!-- Panel COURSE INFO -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4>Course info</h4>
								</div>
								
								<div class="panel-body">
									<form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_name" >Name: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_name" ng-model="add_name">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_classes" >Fund of classes: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_classes" ng-model="add_classes">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_language" >Language: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_language" ng-model="add_language">
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_professor" >Professor: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_professor" ng-model="add_professor">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_program_content" >Content of program: </label>
											<div class="col-sm-8">
												<textarea class="form-control" id="add_program_content" ng-model="add_program_content"></textarea>
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_program_goal" >Goal of program: </label>
											<div class="col-sm-8">
												<textarea class="form-control" id="add_program_goal" ng-model="add_program_goal"></textarea>
											</div>
										</div>
										
										
									</form>
								
								</div>
							</div>
							<div class="col-md-8">
									<span>{{addCourseMessage}}</span>
							</div>
							<div class="col-md-4">
								<button ng-click="addCourse();" class="pull-right btn btn-primary">Save course</button>
							</div>	
						</div>
						
				</div> <!--  End of add student tab- COL-MD-6 LEFT -->
		
			</div> <!--  End of row -->
				
			</div>
		</div>
	</div>
	

</div>