

<div class="container">
	
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	    <li data-target="#myCarousel" data-slide-to="3"></li>
	  </ol>
	
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <img src="./img/pic1.jpg" alt="Picture 1">
	    </div>
	
	    <div class="item">
	      <img src="./img/pic2.jpg" alt="Picture 2">
	    </div>
	
	    <div class="item">
	       <img src="./img/pic3.jpg" alt="Picture 3">
	    </div>
	
	    <div class="item">
	       <img src="./img/pic4.jpg" alt="Picture 4">
	    </div>
	  </div>
	
	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
	<div class="overlay">
	
		<div class="col-md-12">
			<div class="text-center">
				<h3>
					{{message}}
				</h3>			
			</div>
			
		
		</div>
	</div>
	


</div>