<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-4" for="grade" >Grade: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="grade" ng-model="grade">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="year" >School year: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="year" ng-model="year">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="semester" >Semester: </label>
											<div class="col-sm-8">
												<select class="form-control"  ng-model="semester">
												    <option disabled selected value> -- select semester -- </option>
												    <option>WINTER</option>
												    <option>SUMMER</option>
												</select>
											</div>
										</div>
										
									</form>
<div class="col-md-12">
	<span>{{addStudentCourseMsg}}</span>
</div>
</div>
<div class="modal-footer">
		<button type="button" ng-click="submitForm();" class="btn btn-primary" >Submit</button>
        <button type="button" ng-click="cancelForm();" class="btn btn-default" >Close</button>
</div>