

<div class="container">
	
	
	<div  class="row">
	
		<div class="col-md-12 col-sm-12">
			<h2>Students page</h2>
			
			<div class="col-md-offset-8 col-md-4">
				<div class="input-group">
					<span  class="border-radius-span input-group-addon" id="filter-addon" >Filter</span>
					<input class="border-radius-input form-control" placeholder="Type to filter" id="studentFilter" aria-describedby="filter-addon" ng-model="studentFilter" type="text">
				</div>
				
			</div>
			
				<ul class="nav nav-tabs">
				  <li class="active"><a data-toggle="tab" data-target="#all">All</a></li>
				  <li ><a data-toggle="tab" data-target="#buttons">Add student</a></li>
				</ul>
			
			
			<div class="tab-content">
			
				<!-- TAB ALL -->
				<div id="all"  class="tab-pane fade in active">
					<ul ng-show="showAll" id="selectable" >
							<li class="text-center">
								<div class="row">
									<span ng-click="orderByMe('index')" class="cursor-class col-md-2">Index</span> 
									<span ng-click="orderByMe('name')"  class="cursor-class col-md-2">Name</span>
									<span ng-click="orderByMe('surname')" class="cursor-class col-md-2">Surname </span>
									<span ng-click="orderByMe('yearOfEnrollment')" class="cursor-class col-md-2">Year of enrollment</span>
									
								</div>
						 	
						 	</li>
							<li id="{{student.id}}"  class="text-center ui-widget-content" ng-repeat="student in allStudents | filter:studentFilter | orderBy:myOrderBy">
								<div class="row">
									<span class="col-md-2">{{student.index}}</span> 
									<span class="col-md-2">{{student.name}}</span>
									<span class="col-md-2">{{student.surname}} </span>
									<span class="col-md-2">{{student.yearOfEnrollment}}</span>
									<span class="col-md-2"><button ng-click="deleteStudent(student.id);" class=" btn btn-danger btn-sm">Delete</button></span>
									<span class="col-md-2 "><button ng-click="studentDetails(student.id);" class=" btn btn-info btn-sm">Details</button></span>
								</div>
							 	
							 </li>
					</ul>
					<div ng-show="showOne" class="row">
						
						
						<div class="col-md-12">
							<button ng-click="backFunction()" class="btn btn-default"><i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp; Back</button>
						</div>
						<!--  col-md-6 LEFT -->
						<div class="col-md-6">
						
							<!-- Panel PERSONAL INFO -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4>Personal info</h4>
								</div>
								
								<div class="panel-body">
									<form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-4" for="name" >Name: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="name" ng-model="name">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="surname" >Surname: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="surname" ng-model="surname">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="embg" >EMBG: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="embg" ng-model="embg">
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-sm-4" for="date" >Date of birth: </label>
											<div class="col-sm-8">
												<input type="date" class="form-control" id="date" ng-model="date">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="nationality" >Nationality: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="nationality" ng-model="nationality">
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-sm-4" for="gender" >Gender: </label>
											<div class="col-sm-8">
												<select class="form-control"  ng-model="gender">
													    <option disabled selected value> -- select gender -- </option>
													    <option>MALE</option>
													    <option>FEMALE</option>													
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="citizenship" >Citizenship: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="citizenship" ng-model="citizenship">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="place_of_birth" >Place of birth: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="place_of_birth" ng-model="place_of_birth">
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-sm-4" for="municipality_of_birth" >Municipality of birth: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="municipality_of_birth" ng-model="municipality_of_birth">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="country_of_birth" >Country of birth: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="country_of_birth" ng-model="country_of_birth">
											</div>
										</div>
										
									</form>
								
								</div>
							</div>
							
								<!-- Panel FACULTY DATA -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4>Faculty data</h4>
								</div>
								
								<div class="panel-body">
									<form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-4" for="index" >Index: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="index" ng-model="index">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="status" >Status: </label>
											<div class="col-sm-8">
												<select class="form-control"  ng-model="status">
													    <option disabled selected value> -- select status -- </option>
													    <option>REGULAR</option>
													    <option>ASSOCIATE</option>													
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="cycle" >Cycle: </label>
											<div class="col-sm-8">
												<select class="form-control"  ng-model="cycle">
													    <option disabled selected value> -- select studies cycle -- </option>
													    <option>FIRST</option>
													    <option>SECOND</option>
													    <option>THIRD</option>
												</select>
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-sm-4" for="quota" >Quota: </label>
											<div class="col-sm-8">
													<select class="form-control"  ng-model="quota">
													    <option disabled selected value> -- select quota -- </option>
													    <option>STATE</option>
													    <option>PRIVATE</option>
													</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="studies_program" >Studies program: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="studies_program" ng-model="studies_program">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="year_enrollment" >Year of enrollment: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="year_enrollment" ng-model="year_enrollment">
											</div>
										</div>
										
									</form>
								
								</div>
							</div>
							
							<!-- Panel CONTACT -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4>Contact</h4>
								</div>
								
								<div class="panel-body">
									<form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-4" for="place_living" >Place of living: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="place_living" ng-model="place_living">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="municipality_living" >Municipality of living: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="municipality_living" ng-model="municipality_living">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="country" >Country: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="country" ng-model="country">
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-sm-4" for="address" >Address: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="address" ng-model="address">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="phone" >Phone: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="phone" ng-model="phone">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="email" >Email: </label>
											<div class="col-sm-8">
												<input type="email" class="form-control" id="email" ng-model="email">
											</div>
										</div>
										
									</form>
								
								</div>
							</div>
							<div class="col-md-8">
								<span>{{updateMessageData}}</span>
							</div>
							<div class="col-md-4">
								<button ng-click="updateStudent();"class="pull-right btn btn-primary">Save changes</button>
							</div>
							
							
			
						
						</div>
						
						<!--  col-md-6 right -->
						<!--  COURSES -->
						<div class="col-md-6">
							<div id="accordion" style="display:none;">
								<!-- Header -->
								<h2>All courses</h2>
								<!-- Body -->
								<div>
								
									<ul id="selectable3" >
											<li class="text-center">
												<div class="row">
													<span ng-click="orderByMeCourse('courseName')" class="cursor-class col-md-2">Name</span> 
													<span ng-click="orderByMeCourse('language')"  class="cursor-class col-md-3">Language</span>
													<span ng-click="orderByMeCourse('professor')" class="cursor-class col-md-3"> Professor </span>
													
												</div>
										 	
										 	</li>
											<li id="{{course.courseId}}"  class="text-center ui-widget-content" ng-repeat="course in allCourses  | orderBy:courseOrderBy">
												<div class="row">
													<span class="col-md-2">{{course.courseName}}</span> 
													<span class="col-md-3">{{course.language}}</span>
													<span class="col-md-3">{{course.professor}} </span>
													<span class="col-md-4"><button ng-click=" openModalDialog(course.courseId);"  class=" btn btn-success btn-xs">Add to student</button></span>
													
													
												</div>
											 	
											 </li>
									</ul>
								</div>
								
								<!-- Header -->
								<h2>Courses of this student</h2>
								<!-- Body -->
								<div>	
									<ul id="selectable1" >
											<li class="text-center">
												<div class="row">
													<span ng-click="orderByMeCourse('courseName')" class="cursor-class col-md-3">Name</span> 
													<span ng-click="orderByMeCourse('grade')"  class="cursor-class col-md-2">Grade</span>
													<span ng-click="orderByMeCourse('semester')" class="cursor-class col-md-2"> Semester </span>
													<span ng-click="orderByMeCourse('semester')" class="cursor-class col-md-3"> School year </span>
													
												</div>
										 	
										 	</li>
											<li id="{{sc.course.courseId}}"  class="text-center ui-widget-content" ng-repeat="sc in allStudentCourses  | orderBy:courseOrderBy">
												<div class="row">
													<span class="col-md-3">{{sc.course.courseName}}</span> 
													<span class="col-md-2">{{sc.grade}}</span>
													<span class="col-md-2">{{sc.semester}} </span>
													<span class="col-md-2">{{sc.schoolYear}} </span>
													<span class="col-md-3"><button ng-click="deleteStudentCourse(sc.course.courseId); " style="font-size:14px;" class=" btn btn-danger btn-sm">Delete</button></span>
													
												</div>
											 	
											 </li>
									</ul>
								</div>
							</div>
							<br>
							<div class="panel panel-default">
								<div class="panel-heading">		
									<h4>Charts</h4>

								</div>
								
								<div class="panel-body">
									<div id="donut-grades"></div>
								</div>
							</div>
						
							
						</div>
					
					</div>
				</div> <!-- End of ALL STUDENTS tab -->
				
				
				<!-- Add student tab -->
				<div id="buttons" class="tab-pane fade">
				
				<div class="row">
					<!--  COL-MD-6 LEFT -->
					<div class="col-md-8">
						
							<!-- Panel PERSONAL INFO -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4>Personal info</h4>
								</div>
								
								<div class="panel-body">
									<form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_name" >Name: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_name" ng-model="add_name">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_surname" >Surname: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_surname" ng-model="add_surname">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_embg" >EMBG: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_embg" ng-model="add_embg">
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_date" >Date of birth: </label>
											<div class="col-sm-8">
												<input type="date" class="form-control" id="add_date" ng-model="add_date">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_nationality" >Nationality: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_nationality" ng-model="add_nationality">
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_gender" >Gender: </label>
											<div class="col-sm-8">
											<select class="form-control"  ng-model="add_gender">
											    <option disabled selected value> -- select gender -- </option>
											    <option>MALE</option>
											    <option>FEMALE</option>
											</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_citizenship" >Citizenship: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_citizenship" ng-model="add_citizenship">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_place_of_birth" >Place of birth: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_place_of_birth" ng-model="add_place_of_birth">
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_municipality_of_birth" >Municipality of birth: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_municipality_of_birth" ng-model="add_municipality_of_birth">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_country_of_birth" >Country of birth: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_country_of_birth" ng-model="add_country_of_birth">
											</div>
										</div>
										
									</form>
								
								</div>
							</div>
							
								<!-- Panel FACULTY DATA -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4>Faculty data</h4>
								</div>
								
								<div class="panel-body">
									<form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_index" >Index: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_index" ng-model="add_index">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_status" >Status: </label>
											<div class="col-sm-8">
												<select class="form-control"  ng-model="add_status">
												    <option disabled selected value> -- select status -- </option>
												    <option>REGULAR</option>
												    <option>ASSOCIATE</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_cycle" >Cycle: </label>
											<div class="col-sm-8">
												<select class="form-control"  ng-model="add_cycle">
												    <option disabled selected value> -- select studies cycle -- </option>
												    <option>FIRST</option>
												    <option>SECOND</option>
												    <option>THIRD</option>
												</select>
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_quota" >Quota: </label>
											<div class="col-sm-8">
													<select class="form-control"  ng-model="add_quota">
													    <option disabled selected value> -- select quota -- </option>
													    <option>STATE</option>
													    <option>PRIVATE</option>
													</select>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_studies_program" >Studies program: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_studies_program" ng-model="add_studies_program">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_year_enrollment" >Year of enrollment: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_year_enrollment" ng-model="add_year_enrollment">
											</div>
										</div>
										
									</form>
								
								</div>
							</div>
							
							<!-- Panel CONTACT -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4>Contact</h4>
								</div>
								
								<div class="panel-body">
									<form class="form-horizontal">
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_place_living" >Place of living: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_place_living" ng-model="add_place_living">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_municipality_living" >Municipality of living: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_municipality_living" ng-model="add_municipality_living">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_country" >Country: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_country" ng-model="add_country">
											</div>
										</div>
										
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_address" >Address: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_address" ng-model="add_address">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_phone" >Phone: </label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="add_phone" ng-model="add_phone">
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-sm-4" for="add_email" >Email: </label>
											<div class="col-sm-8">
												<input type="email" class="form-control" id="add_email" ng-model="add_email">
											</div>
										</div>
										
									</form>
								
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
								 
								 	<p>{{addStudentMessage}}</p>
								
								</div>
								<div class="col-md-4">
								<button ng-click="addStudent()" class="pull-right btn btn-primary">Save student</button>
								</div>
							</div>
						
				</div> <!--  End of add student tab- COL-MD-6 LEFT -->
				
				
				
			</div> <!--  End of row -->
				
			</div>
		</div>
	</div>
	

</div>